* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* !!!!!!!!!!!!! HEADER !!!!!!!!!!!!!! */

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.li_opacity_left {
  opacity: 0.75;
}

.li_padding_left {
  padding-left: 15px;
}

.li_padding_right {
  padding-right: 15px;
}

header {
  height: 6.5vh;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

header div li {
  display: inline-block;
}

header div li span {
  cursor: pointer;
}

header .header_flex_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header_flex_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header_flex_right .dropdown .dropdown_click_icon span{
  font-size: 18px;
}

header .header_flex_right .log_in a {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 5px 15px;
}

header .dropdown {
  margin: 0 15px;
}

header  .dropdown .dropdown_container {
  position: absolute;
  right: 0;
  transform: translateX(-10%);
  top: calc(100vh - 93.5vh);
  width: 340px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  display: flex;
  flex-wrap: wrap;
}

header .dropdown .dropdown_container .dropdown_element {
  width: 93px;
  height: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px 5px;
}

header .dropdown .dropdown_container .dropdown_element:hover {
  text-decoration: underline;
  background-color: lightblue;
  border-radius: 10px;
  cursor: pointer;
}

header .dropdown .dropdown_container .dropdown_element img {
  height: 64px;
  padding: 5px;
}

header .dropdown .dropdown_container .dropdown_element span {
  padding: 5px;
}

header .header_flex_right .log_in  {
  background-color: rgba(71, 129, 254, 1);
  margin-right: 15px;
  display: flex;
}

header div li span:hover {
  text-decoration: underline;
}

header .header_flex_left li:hover {
  opacity: 1;
}

header .header_flex_right li:hover , header .header_flex_right i:hover  {
  opacity: 0.75;
  cursor: pointer;
}

header .header_flex_right .log_in:hover {
  background-color: rgba(94, 145, 255, 1);
}

/* !!!!!!!!!!!!! HEADER !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!! MAIN !!!!!!!!!!!!!! */

main {
  height: 77.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .google_image {
  margin-top: calc((77.5vh / 100) * 25);
}

main .google_image img {
  height: 100px;
  width: 300px;
}

main .main_browser_container {
  margin-top: 20px;
  height: 45px;
  width: 600px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

main .main_browser_container .mic_icons svg {
  height: 24px;
  width: 24px;
}

main .main_browser_container .mic_icons svg:hover {
  cursor: pointer;
}

main .main_browser_container .search_icon i {
  opacity: 0.5;
}

main .main_browser_container .input {
  display: flex;
  height: 30px;
  width: 85%;
}

main .main_browser_container .input input {
  width: 100%;
  border: none;
}

main .main_browser_container .input input:focus {
  outline: none;
}

main .main_browser_container:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

main .google_actions {
  margin-top: 20px;
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .google_actions .left_buttom , main .google_actions .right_buttom {
  background-color: #f2f2f2;
  border: 1px solid #f6f9f9;
  margin: 0 10px;
  border-radius: 4px;
  padding: 10px 17px;
  font-size: 14px;
  color: #5F6368;
}

main .google_actions .left_buttom:hover , main .google_actions .right_buttom:hover {
      color: #222;
  cursor: pointer;
      border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


/* !!!!!!!!!!!!! MAIN !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!! */

footer {
  height: 16vh;
}

footer .privacy_popup {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
  height: 60%;
}

footer .privacy_popup .left_info {
  align-items: center;
  display: flex;
}

footer .privacy_popup .left_info  img {
  height: 50px;
}

footer .privacy_popup .left_info  h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
  letter-spacing: 0.5px;
}

footer .privacy_popup .right_actions {
  align-items: center;
  display: flex;
}

footer .privacy_popup .right_actions span:first-child {
  font-size: 12px;
  color: rgb(81, 133, 246);
  margin-right: 15px;
}

footer .privacy_popup .right_actions span:last-child {
  font-size: 12px;
  color: white;
  background-color: rgb(30, 93, 230);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,1);
}

footer .privacy_popup .right_actions span:last-child:hover , footer .privacy_popup .right_actions span:first-child:hover {
  cursor: pointer;
}

footer .privacy_popup .right_actions span:first-child:hover {
  text-decoration: underline;
}

footer .privacy_popup .right_actions span:last-child:hover {
  background-color: rgb(81, 133, 246);
}

footer .info_endpage {
   height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 13px;
}

footer .info_endpage .top  {
  background-color: #f2f2f2;
  height: 50%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-bottom: 1px solid #dfe1e5;
}

footer .info_endpage .top  span {
  opacity: 0.5;
}

footer .info_endpage .bottom  {
  background-color: #f2f2f2;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .info_endpage .bottom  li {
  display: inline-block;
  opacity: 0.7;
}

footer .info_endpage .bottom  .left {
  padding-left: 15px;
}

footer .info_endpage .bottom  .right {
  padding-right: 15px;
}

footer .info_endpage .bottom li span:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
}

.indez {
  z-index: 99999;
}

/* !!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!! */

.hidden {
  display: none !important;
}

.hide_opacity {
  opacity: 0 !important;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
