* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* !!!!!!!!!!!!! HEADER !!!!!!!!!!!!!! */



.li_opacity_left {
  opacity: 0.75;
}

.li_padding_left {
  padding-left: 15px;
}

.li_padding_right {
  padding-right: 15px;
}



header {
  height: 6.5vh;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

header div li {
  display: inline-block;
}

header div li span {
  cursor: pointer;
}

header .header_flex_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header_flex_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header_flex_right .dropdown .dropdown_click_icon span{
  font-size: 18px;
}

header .header_flex_right .log_in a {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 5px 15px;
}

header .header_flex_right .log_in  {
  background-color: rgba(71, 129, 254, 1);
  margin-right: 15px;
  display: flex;
}

header div li span:hover {
  text-decoration: underline;
}

header .header_flex_left li:hover {
  opacity: 1;
}

header .header_flex_right li:hover , header .header_flex_right i:hover  {
  opacity: 0.75;
}

header .header_flex_right .log_in:hover {
  background-color: rgba(94, 145, 255, 1);
}

/* !!!!!!!!!!!!! HEADER !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!! MAIN !!!!!!!!!!!!!! */

main {
  background-color: yellow;
  height: 80vh;
}

main .google_image {
  height: 50px;
  width: 200px;
  background-color: red;
}

main .main_browser {
  height: 50px;
  width: 200px;
  background-color: blue;
}

main .google_inputs {
  height: 50px;
  width: 200px;
  background-color: green;
}

/* !!!!!!!!!!!!! MAIN !!!!!!!!!!!!!! */

/* !!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!! */

footer {
  background-color: gray;
  height: 13.5vh;
}

/* !!!!!!!!!!!!! FOOTER !!!!!!!!!!!!!! */
